@font-face {
  font-family: 'whatever it takes';
  src: url('../fonts/whatever it takes.ttf');
}
@font-face {
  font-family: 'whatever it takes bold';
  src: url('../fonts/whatever it takes bold.ttf');
}
.mar_auto {
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.first {
  background-image: url('../img/home.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.first header {
  padding-top: 22px;
}
.first header ul li {
  padding: 10px 16px 0 15px;
}
.first header ul li .active {
  color: #e8500e;
  font-weight: bold;
}
.first header ul li a {
  text-decoration: none;
  color: #fcfbf9;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: bold;
}
.first header ul li a:hover {
  color: #e8500e;
}
.first section {
  text-align: center;
  margin-top: 18%;
  color: #fff;
}
.first section h2 {
  font-size: 42px;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  line-height: 32.5px;
  letter-spacing: 4px;
  margin-bottom: 23px;
}
.first section p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin-bottom: 52px;
}
.first section form {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 32.5px;
  /* Firefox 19+ */
  /* Firefox 18- */
}
.first section form input[type='text'] {
  max-width: 344px;
  width: 100%;
  height: 55px;
  border: none;
  color: #bbbcc0;
  text-indent: 14px;
  border-radius: 3px;
}
.first section form input[type='submit'] {
  max-width: 200px;
  width: 100%;
  height: 55px;
  border-radius: 3px;
  border: none;
  background: #e8500e url('../img/search.png') no-repeat right center;
  text-align: left;
  padding-left: 6%;
  padding-right: 3.25%;
  background-origin: content-box;
}
.first section form ::-webkit-input-placeholder {
  color: #bbbcc0;
}
.first section form ::-moz-placeholder {
  color: #bbbcc0;
}
.first section form :-moz-placeholder {
  color: #bbbcc0;
}
.first section form :-ms-input-placeholder {
  color: #bbbcc0;
}
.first section .blocks {
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 81px;
  position: relative;
}
.first section .blocks div {
  position: relative;
  margin-bottom: 100px;
}
.first section .blocks div:last-child {
  margin-bottom: 0;
}
.first section .blocks div h5 {
  font-family: 'whatever it takes bold';
  color: #fff;
  font-size: 24px;
}
.first section .blocks div .left {
  position: absolute;
  left: -65px;
  top: -25px;
}
.first section .blocks div .right {
  position: absolute;
  right: -65px;
  top: -25px;
}
.price {
  margin-top: 100vh;
  background: url('../img/bg_pattern_1.png');
}
.price .header {
  border-bottom: 1px solid #e6e6e6;
  text-align: center;
}
.price .header h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #43434c;
  margin: 28px 0;
}
.price .header h6 span {
  color: #e8500e;
}
.price .headers {
  color: #2e2e33;
  font-weight: 400;
  text-align: center;
  margin-top: 69px;
}
.price .headers h3 {
  font-family: 'Roboto Slab', serif;
  font-size: 32px;
  margin: 0;
}
.price .headers h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin-top: 15px;
}
.price .boxes {
  margin-top: 60px;
  margin-bottom: 55px;
}
.price .boxes .block {
  background-color: #fcfbf9;
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
}
.price .boxes .block .img img {
  width: 100%;
}
.price .boxes .block .main {
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  padding: 20px 23px 20px 16px;
}
.price .boxes .block .main h5 {
  color: #414551;
  font-size: 21px;
  margin: 0;
  line-height: 26px;
}
.price .boxes .block .main p {
  color: #748796;
  font-size: 14px;
  font-weight: 300;
  margin-top: 16px;
}
.price .boxes .block .main div {
  margin-top: 20px;
  display: inline-block;
  width: 100%;
}
.price .boxes .block .main div span {
  color: #000;
  font-size: 21px;
  font-weight: bold;
  display: inline-block;
  float: left;
}
.price .boxes .block .main div a {
  display: inline-block;
  float: right;
  color: #e8500e;
  font-size: 14px;
  font-weight: 300;
  border: 2px dashed #e8500e;
  border-radius: 3px;
  padding: 6px 15px;
  text-decoration: none;
}
.price .boxes .block .footer {
  border: 1px solid #ededed;
  width: 100%;
  display: inline-block;
}
.price .boxes .block .footer .left {
  border-right: 1px solid #ededed;
  padding: 10px 16px;
  padding-right: 0;
  width: 73.5%;
  float: left;
}
.price .boxes .block .footer .left img {
  float: left;
  margin-right: 10px;
}
.price .boxes .block .footer .left div {
  margin-left: 10px;
  padding-top: 5px;
  padding-bottom: 6px;
}
.price .boxes .block .footer .left div h5 {
  color: #000;
  font-size: 14px;
  margin: 0;
  margin-bottom: 3px;
}
.price .boxes .block .footer .left div h6 {
  font-size: 14px;
  color: #748796;
  font-weight: 300;
  margin: 0;
}
.price .boxes .block .footer .right {
  width: 26.5%;
  float: left;
  text-align: center;
  position: relative;
}
.price .boxes .block .footer .right div {
  display: inline-block;
  margin-top: 24%;
}
.price .boxes .block .footer .right div span {
  color: #748796;
  font-size: 14px;
  font-weight: 300;
}
.price .boxes .block .footer .right div i {
  color: #f18ba2;
}
.steps {
  margin-top: -20px;
  background: url('../img/section3_bg.png') no-repeat center;
  background-size: cover;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  min-height: 650px;
  padding-bottom: 100px;
}
.steps h4 {
  margin-top: 95px;
  font-size: 32px;
  color: #d8bea5;
}
.steps h6 {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: #d8bea5;
  margin-top: 90px;
}
.steps .block {
  color: #fff;
  margin-top: -20px;
  position: relative;
}
.steps .block h5 {
  font-size: 24px;
}
.steps .block p {
  font-weight: 300;
  width: 90%;
  display: inline-block;
}
.steps .block img {
  display: inline-block;
}
.steps .block .left {
  position: absolute;
  top: -70px;
  left: -75px;
}
.steps .block .right {
  position: absolute;
  top: -70px;
  right: -60px;
}
.steps .block.middle {
  margin-top: 105px;
}
.restaurants {
  background-image: url('../img/restoran_section.jpg');
}
.restaurants .headers {
  margin-top: 100px;
  margin-bottom: 50px;
  color: #414551;
}
.restaurants .headers h5 {
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  line-height: 32px;
}
.restaurants .headers ul {
  float: right;
  margin-top: 10px;
}
.restaurants .headers ul li {
  padding-left: 20px;
}
.restaurants .headers ul li a {
  text-decoration: none;
  color: inherit;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 32px;
}
.restaurants .headers ul li a:hover {
  color: #e8500e;
}
.restaurants .headers ul li a i {
  font-size: 20px;
}
.restaurants .blocks {
  margin-bottom: 150px;
}
.restaurants .blocks .block:nth-child(1) {
  margin-top: 50px;
}
.restaurants .blocks .block {
  padding: 15px;
  border-radius: 2px;
  border: 1px solid #ededed;
  display: flex;
  margin-top: 27px;
}
.restaurants .blocks .block .left {
  float: left;
}
.restaurants .blocks .block .right {
  font-family: 'Open Sans', sans-serif;
  margin-left: 17px;
}
.restaurants .blocks .block .right h5 {
  color: #414551;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  margin-top: 6px;
}
.restaurants .blocks .block .right h6 {
  font-size: 14px;
  color: #748796;
  font-weight: 300;
  margin-top: 18px;
  margin-bottom: 13px;
}
.restaurants .blocks .block .right .options > div {
  float: left;
}
.restaurants .blocks .block .right .options > div:nth-child(1) img {
  top: 1px;
}
.restaurants .blocks .block .right .options > div:nth-child(2) img {
  top: 3px;
}
.restaurants .blocks .block .right .options > div img {
  margin-right: 8px;
  position: relative;
  top: 2px;
  float: left;
}
.restaurants .blocks .block .right .options > div span {
  color: #748796;
  font-size: 14px;
  font-weight: 300;
}
.restaurants .blocks .block .right .options .price,
.restaurants .blocks .block .right .options .time {
  margin: 0;
  margin-right: 40px;
}
.restaurants .blocks .block .right .options .rating img {
  top: 0;
  margin-right: 3px;
}
.restaurants .blocks .block .right .options .rating span {
  color: #748796;
  font-size: 12px;
  margin-left: 5px;
  float: left;
}
.orange {
  background: url('../img/orange_bg.png') no-repeat;
  background-size: cover;
  position: relative;
  z-index: 3;
}
.orange .left img {
  position: absolute;
  left: 139px;
  top: -18px;
}
.orange .right {
  color: #fcfaf8;
  padding: 60px 0 50px;
}
.orange .right h4 {
  font-size: 26px;
  font-family: 'Roboto Slab', serif;
  margin: 0;
}
.orange .right p {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 26px;
  margin: 34px 0;
}
footer {
  background: url('../img/footer_bg.jpg') no-repeat;
  background-size: cover;
  padding: 80px 0 95px;
  position: relative;
  z-index: 2;
  margin-top: -5px;
}
footer .container .row:last-child {
  margin-top: 90px;
}
footer .left {
  margin-right: 50px !important;
}
footer h4 {
  color: #fff;
  font-size: 32px;
  font-family: 'whatever it takes';
  margin: 0;
}
footer h4 span {
  font-weight: bold;
  color: #e8500e;
}
footer h5 {
  color: #fff;
  font-size: 21px;
  font-weight: 300;
  font-family: 'Roboto Slab', serif;
  margin: 0;
  margin-bottom: 12px;
}
footer .main {
  color: #a2a2a3;
  font-size: 14px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  line-height: 32.5px;
  list-style: none;
  float: left;
  margin: 0;
  padding: 0;
}
footer a {
  text-decoration: none;
  color: inherit;
}
footer a:hover {
  text-decoration: none;
  color: #e8500e;
}
footer img {
  margin-right: 8px;
}
footer .special {
  margin-top: 35px;
}
footer .special span {
  color: #fff;
  font-size: 21px;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  margin-right: 15px;
}
footer .special a {
  font-family: 'whatever it takes bold';
  font-weight: bold;
  color: #e8500e;
  font-size: 26px;
}
@media screen and (max-width: 479px) {
  .first {
    position: static;
    padding-bottom: 30px;
  }
  .first header img {
    margin-bottom: 10px;
  }
  .first .right {
    top: auto !important;
    bottom: -60px;
    transform: rotate(90deg);
  }
  .first .left {
    top: -70px !important;
    transform: rotate(90deg) scale(1, -1);
  }
  .first section > h2 {
    line-height: 42px !important;
  }
  .first section form input[type="submit"] {
    margin-top: 20px;
  }
  .price {
    margin-top: 0;
  }
  .price .boxes .block {
    margin-bottom: 30px;
  }
  .steps .block {
    margin-top: 20px !important;
  }
  .steps .block .left,
  .steps .block .right {
    display: none;
  }
  .restaurants .headers {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  .restaurants .blocks {
    margin-bottom: 50px;
  }
  .restaurants .blocks .block:nth-child(1) {
    margin-top: 20px;
  }
  footer {
    text-align: center;
  }
  footer .container .row:last-child {
    margin-top: 10px;
  }
  footer .container .row > div {
    margin-bottom: 30px;
  }
  footer .main {
    float: none;
  }
  footer .left {
    margin-right: 0 !important;
  }
}