@font-face {
  font-family: 'whatever it takes';
  src: url('../fonts/whatever it takes.ttf');
}
@font-face {
  font-family: 'whatever it takes bold';
  src: url('../fonts/whatever it takes bold.ttf');
}
.mar_auto {
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
header {
  padding: 22px 0 22px;
  background-image: url('../img/header_bg.jpg');
  background-size: cover;
}
header a:visited {
  outline: none !important;
}
header ul {
  float: right;
}
header ul li {
  padding: 10px 16px 0 15px;
}
header ul li .active {
  color: #e8500e;
  font-weight: bold;
}
header ul li a {
  text-decoration: none;
  color: #fcfbf9;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: bold;
}
header ul li a:hover {
  color: #e8500e;
}
.choose {
  background-color: #fcfbf9;
}
.choose .main {
  padding: 0;
}
.choose ul {
  margin: 0;
  padding: 15px 90px 15px 0;
}
.choose ul li {
  padding-right: 65px;
}
.search {
  background-image: url('../img/middle1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 389px;
  overflow: hidden;
  position: relative;
}
.search .container > div {
  text-align: center;
  margin-bottom: 10%;
  margin-top: 10%;
  color: #fff;
}
.search .container > div h2 {
  font-size: 42px;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  line-height: 32.5px;
  letter-spacing: 4px;
  margin-bottom: 23px;
}
.search .container > div p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin-bottom: 52px;
}
.search .container > div form {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 32.5px;
}
.search .container > div form input[type='text'] {
  max-width: 344px;
  width: 100%;
  height: 55px;
  border: none;
  color: #bbbcc0;
  text-indent: 14px;
  border-radius: 3px;
}
.search .container > div form input[type='submit'] {
  max-width: 200px;
  width: 100%;
  height: 55px;
  border-radius: 3px;
  border: none;
  background: #e8500e url('../img/search.png') no-repeat right center;
  text-align: left;
  padding-left: 6%;
  padding-right: 3.25%;
  background-origin: content-box;
}
.search .container > div form ::-webkit-input-placeholder {
  color: #bbbcc0;
}
.search .container > div form ::-moz-placeholder {
  color: #bbbcc0;
}
.search .container > div form :-moz-placeholder {
  color: #bbbcc0;
}
.search .container > div form :-ms-input-placeholder {
  color: #bbbcc0;
}
.biggest {
  background: url('../img/restoran_section.jpg');
}
.biggest .header {
  border-bottom: 1px solid #e6e6e6;
}
.biggest .header p {
  display: inline-block;
  float: left;
  margin: 25px 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #414551;
}
.biggest .header p.one {
  float: right;
}
.biggest .boxes {
  margin-top: 60px;
  margin-bottom: 55px;
}
.biggest .boxes .block {
  background-color: #fcfbf9;
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
}
.biggest .boxes .block .img img {
  width: 100%;
}
.biggest .boxes .block .main {
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  padding: 20px 23px 20px 16px;
}
.biggest .boxes .block .main h5 {
  color: #414551;
  font-size: 21px;
  margin: 0;
  line-height: 26px;
}
.biggest .boxes .block .main p {
  color: #748796;
  font-size: 14px;
  font-weight: 300;
  margin-top: 16px;
}
.biggest .boxes .block .main div {
  margin-top: 20px;
  display: inline-block;
  width: 100%;
}
.biggest .boxes .block .main div span {
  color: #000;
  font-size: 21px;
  font-weight: bold;
  display: inline-block;
  float: left;
}
.biggest .boxes .block .main div a {
  display: inline-block;
  float: right;
  color: #e8500e;
  font-size: 14px;
  font-weight: 300;
  border: 2px dashed #e8500e;
  border-radius: 3px;
  padding: 6px 15px;
  text-decoration: none;
}
.biggest .boxes .block .footer {
  border: 1px solid #ededed;
  width: 100%;
  display: inline-block;
}
.biggest .boxes .block .footer .left {
  border-right: 1px solid #ededed;
  padding: 10px 16px;
  padding-right: 0;
  width: 73.5%;
  float: left;
}
.biggest .boxes .block .footer .left img {
  float: left;
  margin-right: 10px;
}
.biggest .boxes .block .footer .left div {
  margin-left: 10px;
  padding-top: 5px;
  padding-bottom: 6px;
}
.biggest .boxes .block .footer .left div h5 {
  color: #000;
  font-size: 14px;
  margin: 0;
  margin-bottom: 3px;
}
.biggest .boxes .block .footer .left div h6 {
  font-size: 14px;
  color: #748796;
  font-weight: 300;
  margin: 0;
}
.biggest .boxes .block .footer .right {
  width: 26.5%;
  float: left;
  text-align: center;
  position: relative;
}
.biggest .boxes .block .footer .right div {
  display: inline-block;
  margin-top: 24%;
}
.biggest .boxes .block .footer .right div span {
  color: #748796;
  font-size: 14px;
  font-weight: 300;
}
.biggest .boxes .block .footer .right div i {
  color: #f18ba2;
}
.biggest nav {
  text-align: center;
}
.biggest nav ul li a {
  color: #414551;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 32px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 2px;
  border-radius: 3px;
}
.biggest .last {
  margin: 5% 0;
  line-height: 32px;
}
.biggest .last h4 {
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  color: #414551;
}
.biggest .last p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #748796;
}
footer {
  background: url('../img/footer_bg.jpg') no-repeat;
  background-size: cover;
  padding: 80px 0 95px;
  position: relative;
  z-index: 2;
  margin-top: -5px;
}
footer .container .row:last-child {
  margin-top: 90px;
}
footer .left {
  margin-right: 50px !important;
}
footer h4 {
  color: #fff;
  font-size: 32px;
  font-family: 'whatever it takes';
  margin: 0;
}
footer h4 span {
  font-weight: bold;
  color: #e8500e;
}
footer h5 {
  color: #fff;
  font-size: 21px;
  font-weight: 300;
  font-family: 'Roboto Slab', serif;
  margin: 0;
  margin-bottom: 12px;
}
footer .main {
  color: #a2a2a3;
  font-size: 14px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  line-height: 32.5px;
  list-style: none;
  float: left;
  margin: 0;
  padding: 0;
}
footer a {
  text-decoration: none;
  color: inherit;
}
footer a:hover {
  text-decoration: none;
  color: #e8500e;
}
footer img {
  margin-right: 8px;
}
footer .special {
  margin-top: 35px;
}
footer .special span {
  color: #fff;
  font-size: 21px;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  margin-right: 15px;
}
footer .special a {
  font-family: 'whatever it takes bold';
  font-weight: bold;
  color: #e8500e;
  font-size: 26px;
}
@media screen and (max-width: 479px) {
  .choose li {
    margin: 15px 0 15px 25px;
  }
  .search h2 {
    line-height: 42px !important;
  }
  .search form input[type="submit"] {
    margin-top: 20px;
  }
  .biggest .boxes {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  footer {
    text-align: center;
  }
  footer .container .row:last-child {
    margin-top: 10px;
  }
  footer .container .row > div {
    margin-bottom: 30px;
  }
  footer .main {
    float: none;
  }
  footer .left {
    margin-right: 0 !important;
  }
}
